body{
   background-color: brown;
}


.logo{
    width: 150px;
    height: 150px;
    position: absolute;
    left: 20px;
}
.imgfirst{
    position: absolute;
    left: 0px;
}
.title{
position: absolute;
margin-top: 250px;
right: 700px;
}
.reseaux{
    width: 200px;
    margin-top: 680px;
}
.road{
    width: 50px;
    height: 50px;  
    position: absolute;
margin-top: 400px;
right: 650px;
}
.route{
    position: absolute;
margin-top: 400px;
margin-right: 400px;
}
.lons{
    position: absolute;
margin-top: 430px;
margin-right: 400px;
}
.localization{
    position: absolute;
margin-top: 460px;
margin-right: 400px;
}
.horaires{
    position: absolute;
    margin-top: 510px;
    margin-right: 400px;  
}
.déjeuner{
    position: absolute;
    margin-top: 540px;
    margin-right: 400px;  
}
.midi{
    position: absolute;
    margin-top: 570px;
    margin-right: 400px;   
}
.ouverture{
    position: absolute;
    margin-top: 600px;
    margin-right: 400px;  
}
.time{
    width: 50px;
    height: 50px;  
    position: absolute;
margin-top: 550px;
right: 650px; 
}
.imgbar{
height: 300px;
width: 500px;
}
.description{
font-size: large;
margin-top: -120px;

}
.label{
width: 150px;
}
.carousel{
text-align: center;
}
.tamere{
width: 200px;

}
.tamere2{
    margin-top: 30px;
 width: 10px; 
left: 75%;
position: absolute;
}
.tamere3{
    margin-top: 30px;
 width: 10px; 
right: 75%;
position: absolute;
}
.bacon{
    margin-top: 7%;
    width:25%;   
    position: absolute;
}
.prix{
    margin-top: 15%;
}
.ingrédients{
    margin-top: 7%;
    margin-left: 70%;
}