body{
    font-family: 'goldrushregular';
   background-color:#2B2B2B;

}


@font-face {
        font-family: 'lucifer_sansexpanded_thin';
        src: url('lucifer_sans_expanded_thin-webfont.woff2') format('woff2'),
             url('lucifer_sans_expanded_thin-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        
}
@font-face {
    font-family: 'goldrushregular';
    src: url('fontss/rosewood-webfont.woff2') format('woff2'),
         url('fontss/rosewood-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'lucifer_sanscondensed_bold';
    src: url('fontss/lucifer_sans_condensed_bold-webfont.woff2') format('woff2'),
         url('fontss/lucifer_sans_condensed_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.numéro{
margin-top: 5%;
}

.commande{
margin-top: 3%;

}
.logo{
    width: 150px;
    height: 150px;
    position: absolute;
    left: 20px;
}
.imgfirst{
    position: absolute;
    left: 0px;
}

.title{
color: #9D7745;
position: absolute;
margin-top: 150px;
right: 400px;
font-family: 'goldrushregular';
font-size: 200%;

}

.bphare{
    position: absolute;
    margin-top: -10%;
    margin-left: 20%;
}

.reseaux{
    width: 200px;
    margin-top: 680px;
}
.road{
    width: 50px;
    height: 50px;  
    position: absolute;
margin-top: 450px;
right: 620px;
}
.route{
    color: #9D7745;
    font-size: 20px;
    font-family: 'lucifer_sansexpanded_thin';
    position: absolute;
margin-top: 430px;
margin-right: 300px;
}

.horaires{
    color: #9D7745;
    font-size: 20px;
    position: absolute;
    font-family: 'lucifer_sansexpanded_thin';
    margin-top: 570px;
    margin-right:320px;  
}

.time{
    width: 50px;
    height: 50px;  
    position: absolute;
margin-top: 610px;
right: 560px; 
}
.imgbar{
height: 300px;
width: 500px;
}
.description{
    color: white;
    font-size: 20px;
    font-family: 'lucifer_sansexpanded_thin';
margin-top: -120px;

}
.label{
width: 150px;
}
.carousel{
text-align: center;
}
.ligne{
width: 200px;

}
.ligne2{
    margin-top: 30px;
 width: 10px; 
left: 75%;
position: absolute;
}
.ligne3{
    margin-top: 30px;
 width: 10px; 
right: 75%;
position: absolute;
}

.bacontitre{
    color: white;
    font-size: 40px;
}
.burgersphare{
    color: #9D7745;
    font-size: 40px;
}
.composition{
    color: white;
    font-size: 40px; 
}
.bacon{
    font-size: 40px;
    margin-top: 10%;
    width:25%; 
    margin-left: 5%;  
    position: absolute;
    font-family: 'goldrushregular';
}

.taro{
    font-family: 'lucifer_sanscondensed_bold';
    color: #9D7745;
    font-size: 50px;
    margin-top: 9%;
}

.ingrédients{
    color: #9D7745;
    font-size: 20px;
    font-family: 'lucifer_sansexpanded_thin';
    position: absolute;
    margin-top: 7%; 
    right: 8%;
}
.ingrédients2{
    color: #9D7745;
    font-size: 20px;
    font-family: 'lucifer_sansexpanded_thin';
    position: absolute;
    margin-top: 7%;   
    margin-right: 10%;
    right: 10%;
}

.fullmenu{
    color: white;
    font-size: 50px;
}

#carousel2{
    margin-top: 15%;
    text-align: center;
    }

.simple{
    margin-top: 10%;
    width:35%;  
    position: absolute;
}
.crepe{
    width:15%;  
    position: absolute;
    right: 10%;
}
.tiramisu{
    width:25%;  
    position: absolute;
    right: 5%;
    margin-top: 5%;
}
.simple2{
    color: #9D7745;
    font-size: 20px;
    font-family: 'lucifer_sansexpanded_thin';
    margin-top: 25%;
    margin-left: 5%;
}
.complet2{
    color: #9D7745;
    font-size: 20px;
    font-family: 'lucifer_sansexpanded_thin';
    margin-top: 25%;
    margin-left: 47%;
}

#carte{
    margin-top: 7%;
    text-align: center;
}
.ligne4{
    margin-top: 30px;
 width: 13px; 
position: absolute;
}
.menutitre{
    color:white;
    font-size: 50px;
}

.menucarte{
    width: 70%;
    margin-top: 12%;
    right: 37%;
    position: absolute;
}
.menuboissons{
    width: 70%;
    margin-top: 12%;
    margin-left: 85%;
    position: absolute;
}
.dl1{
    margin-top: 38%;
    margin-left: 2%;
}
.dl2{
    margin-top: 38%;
    margin-left: 39%;
}
.coffee{
    width: 40%;
    margin-top: 5%;
    float: right;
}
.formules{
    width: 60%;
    margin-top: 10%;
    float: left;
    margin-left: -5%;
}
.num1{
    color: #9D7745;
    font-size: 50px;
margin-top: 20%;
margin-left: 25%;
}
.phrase1{
    color: white;
    font-size: 20px;
    font-family: 'lucifer_sansexpanded_thin';
    margin-left: 14%;
}
.num2{
    color: #9D7745;
    font-size: 50px;
    margin-left: 25%;
}
.phrase2{
    color: white;
    font-size: 20px;
    font-family: 'lucifer_sansexpanded_thin';
    margin-left: 7%;
}
.imgsoir{
    margin-top: 5%;
    width: 90%;
}
.ouverturebar{
    color:white;
    font-size: 45px;
    margin-top: 5%;
}
.réservations{
  color: #9D7745;
    font-size: 50px;
    margin-top: 3%;
    margin-left: 18%;
}
.ligne12{
    margin-top: 2%;
    width: 11%;
    margin-left: 3%;
    position: absolute;
}
.fontformulaire{
    height: 600px;
    width: 700px;
    background-color: #000000;
    border: width 2 px;
    border-style: solid;
    border-color:#9D7745;
    border-radius: 30px;
    position: absolute;
    right: 5%;
}
#marche{
    font-family: 'lucifer_sansexpanded_thin';
    margin-top: -4%;
margin-left:56%;
}
.cartelieux{
    position: absolute;
    margin-top: 2%;
    left: 150px;
    width: 45%;
}
.logofooter{
    margin-top: 200px;
    width: 65%;
}
.full1{
    color: #9D7745;
    font-size: 20px;
    font-family: 'lucifer_sansexpanded_thin';
    margin-top: 100px;
}
.full2{
    color: #9D7745;
    font-size: 20px;
    font-family: 'lucifer_sansexpanded_thin';
    margin-top: 50px;
}
.full3{
    color: #9D7745;
    font-size: 20px;
    font-family: 'lucifer_sansexpanded_thin';
  margin-top: -150px;
  text-align: end;
}
.ligne5{
 width: 10px; 
 left: 47%;
 margin-top: -20%;
position: absolute;
}
.logofull{
    width: 20%;
    margin-top: 100px;
    margin-right: 5%;
}
.cartefull1{
    width: 75%;
    margin-left: 140%;
    margin-top: -110%;
}
.cartefull2{
    width: 75%;
    margin-left: -30%;
    margin-top: -120%;
}
.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes pulse {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    }
    @keyframes pulse {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    } 

    .zoom div img {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    .zoom div:hover img {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    
    /* Rotation */
.rotate div img {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
   
  .rotate div:hover img {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }