body{
   background-color: brown;
}
.logo{
    width: 150px;
    height: 150px;
    position: absolute;
    left: 20px;
}
.imgfirst{
    position: absolute;
    left: 0px;
}
.title{
position: absolute;
margin-top: 250px;
right: 700px;
}
.reseaux{
    width: 200px;
    margin-top: 680px;
}
.road{
    width: 50px;
    height: 50px;  
    position: absolute;
margin-top: 400px;
right: 650px;
}
.route{
    position: absolute;
margin-top: 400px;
margin-right: 400px;
}
.lons{
    position: absolute;
margin-top: 430px;
margin-right: 400px;
}
.localization{
    position: absolute;
margin-top: 460px;
margin-right: 400px;
}
.horaires{
    position: absolute;
    margin-top: 510px;
    margin-right: 400px;  
}
.déjeuner{
    position: absolute;
    margin-top: 540px;
    margin-right: 400px;  
}
.midi{
    position: absolute;
    margin-top: 570px;
    margin-right: 400px;   
}
.ouverture{
    position: absolute;
    margin-top: 600px;
    margin-right: 400px;  
}
.time{
    width: 50px;
    height: 50px;  
    position: absolute;
margin-top: 550px;
right: 650px; 
}
.imgbar{
height: 300px;
width: 500px;
}
.description{
font-size: large;
margin-top: -120px;

}
.label{
width: 150px;
}
.carousel{
text-align: center;
}
.ligne{
width: 200px;

}
.ligne2{
    margin-top: 30px;
 width: 10px; 
left: 75%;
position: absolute;
}
.ligne3{
    margin-top: 30px;
 width: 10px; 
right: 75%;
position: absolute;
}
.bacon{
    margin-top: 7%;
    width:25%; 
    margin-left: 5%;  
    position: absolute;
}

.taro{
    margin-top: 10%;
}

.ingrédients{
    position: absolute;
    margin-top: 7%; 
    right: 8%;
}
.ingrédients2{
    position: absolute;
    margin-top: 7%;   
    margin-right: 10%;
    right: 10%;
}
#carousel2{
    margin-top: 15%;
    text-align: center;
    }

.simple{
    margin-top: 7%;
    width:35%;  
    position: absolute;
}
.crepe{
    width:15%;  
    position: absolute;
    right: 10%;
}
.tiramisu{
    width:25%;  
    position: absolute;
    right: 5%;
    margin-top: 5%;
}
.simple2{
    margin-top: 25%;
    margin-left: 7%;
}
.complet2{
    margin-top: 25%;
    margin-left: 47%;
}

#carte{
    margin-top: 7%;
    text-align: center;
}
.ligne4{
    margin-top: 30px;
 width: 13px; 
position: absolute;
}
.menucarte{
    width: 70%;
    margin-top: 12%;
    right: 37%;
    position: absolute;
}
.menuboissons{
    width: 70%;
    margin-top: 12%;
    margin-left: 85%;
    position: absolute;
}
.dl1{
    margin-top: 38%;
    margin-left: 2%;
}
.dl2{
    margin-top: 38%;
    margin-left: 39%;
}
.coffee{
    width: 40%;
    margin-top: 5%;
    float: right;
}
.formules{
    width: 60%;
    margin-top: 10%;
    float: left;
    margin-left: -5%;
}
.num1{
margin-top: 23%;
margin-left: 25%;
}
.phrase1{
    margin-top: 5%;
    margin-left: 15%;
}
.num2{
    margin-top: 5%;
    margin-left: 25%;
}
.phrase2{
    margin-top: 5%;
    margin-left: 8%;
}
.imgsoir{
    margin-top: 5%;
    width: 90%;
}
.ouverturebar{
    margin-top: 5%;
}
.réservations{
    margin-top: 3%;
    margin-left: 20%;
}
.ligne12{
    margin-top: 1%;
    width: 10%;
    margin-left: 16%;
    position: absolute;
}
.fontformulaire{
    height: 600px;
    width: 700px;
    background-color: #000000;
    border: width 2 px;
    border-style: solid;
    border-color:#9D7745;
    border-radius: 30px;
    position: absolute;
    right: 5%;
}
#marche{
margin-left:56%;
}
.cartelieux{
    position: absolute;
    margin-top: 2%;
    left: 150px;
    width: 45%;
}
.logofooter{
    margin-top: 200px;
    width: 70%;
}
.full1{
    margin-top: 100px;
}
.full2{
    margin-top: 50px;
}
.full3{
    text-align: end;
    text-justify: auto;
  margin-top: -150px;
}